# Ignore all files in the sim directory
**/sim/

# Exclude the run_sm file from being ignored
!**/sim/run_sim

# Ignore all xcelium.d directories recursively
**/xcelium.d/

# Ignore all files starting with xrun.
xrun.*